
<div class="banner">
  <div class="container">
    <h1>My own movie database</h1>
    <p>Save your favourite movies in lists.</p>
    <%= link_to "Start now!", lists_path %>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"Talking about dreams is like talking about movies, since the cinema uses the language of dreams; years can pass in a second, and you can hop from one place to another. It's a language made of image. And in the real cinema, every object and every light means something, as in a dream."</h4>
    <h5 class="italic"><em>Federico Fellini</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"For me, cinema is a vice. I love it intimately."</h4>
    <h5 class="italic"><em>Fritz Lang</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"Photography is truth. The cinema is truth twenty-four times per second."</h4>
    <h5 class="italic"><em>Jean-Luc Godard</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"Jean-Luc Godard said that cinema is the truth 24 frames a second. I think cinema is lies 24 frames a second."</h4>
    <h5 class="italic"><em>Stanley Donen</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"I'm one of those people who says, 'yes, cinema died when they invented sound.'"</h4>
    <h5 class="italic"><em>George Lucas</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"And Twin Peaks, the Film is the craziest film in the history of cinema. I have no idea what happened, I have no idea what I saw, all I know is that I left the theater floating six feet above the ground."</h4>
    <h5 class="italic"><em>Jacques Rivette</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"Cinema is an art form that is designed to go across borders. And as a filmmaker, the only way I can direct a movie is when I feel close to my culture."</h4>
    <h5 class="italic"><em>Denis Villeneuve</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"We have been influenced by you in the U.S. a lot. Not because anybody exerted pressure on us - if anyone puts pressure on us, we go the other way. But if you put a movie in the cinema and I watch it, I will be influenced."</h4>
    <h5 class="italic"><em>Mohammad bin Salman</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"Talking about dreams is like talking about movies, since the cinema uses the language of dreams; years can pass in a second, and you can hop from one place to another. It's a language made of image. And in the real cinema, every object and every light means something, as in a dream."</h4>
    <h5 class="italic"><em>Federico Fellini</em></h5>
  </div>
</div>

<div class="container">
  <div class="quote">
    <h4>"My duty is to try to reach beauty. Cinema is emotion. When you laugh you cry."</h4>
    <h5 class="italic"><em>Roberto Benigni!</em></h5>
  </div>
</div>
