// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "poster";
@import "navbar";
@import "form";
@import "card";
@import "footer";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Sora:wght@600&family=Work+Sans&display=swap');


// SCSS

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

p {
  font-family: 'Work Sans', sans-serif;
}

body {
  text-decoration: none;
}

.link {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: #686565;
}

.link-title {
  font-family: 'Sora', sans-serif;
  text-decoration: none;
  color: #000000;
}

.margin {
  margin-top: 80px;
}

.margin-bottom {
  margin-bottom: 40px;
}
